<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vn.amela.fresher.mapper.UserMapper">

    <select id="findByUsername" resultType="vn.amela.fresher.entity.User">
        SELECT * FROM User WHERE username = #{username}
    </select>

    <insert id="save">
        INSERT INTO User (username, password, name)
        VALUES (
                   #{user.username},
                   #{user.password},
                   #{user.name}
               )
    </insert>

</mapper>